<main
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  "
>
  <div class="mobileHeader">
    <div
      style="display: flex; justify-content: space-between; padding: 0 0.5rem"
    >
      <img src="./assets/LogoPreta.png" width="180" height="40" />
      <button mat-icon-button (click)="viewMobileOptions()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div *ngIf="mostraOpcoesMobile" class="opcoesMobile">
      <a href="#equipe" target="_self" style="color: #011639">Nossa Equipe</a>
      <a href="#atuacao" target="_self" style="color: #011639"
        >Áreas de atuação</a
      >
      <a href="#contato" target="_self" style="color: #011639">Contato</a>
    </div>
  </div>
  <div id="inicio"></div>
  <div class="header">
    <img
      class="balanca"
      src="./assets/EstatuaDireito.png"
      width="500"
      height="450"
      style="opacity: 0.7"
    />
    <div class="navegacao">
      <img src="./assets/LogoBranca.png" width="580" height="145" />
      <div class="links">
        <a href="#inicio" target="_self">Início</a>
        <a href="#equipe" target="_self">Nossa Equipe</a>
        <a href="#atuacao" target="_self">Áreas de atuação</a>
        <a href="#contato" target="_self">Contato</a>
      </div>
    </div>
  </div>
  <div *ngIf="mostraHeader" class="secondHeader">
    <img src="./assets/LogoPreta.png" width="200" height="50" />
    <div class="links">
      <a href="#inicio" target="_self" style="color: #011639">Início</a>
      <a href="#equipe" target="_self" style="color: #011639">Nossa Equipe</a>
      <a href="#atuacao" target="_self" style="color: #011639"
        >Áreas de atuação</a
      >
      <a href="#contato" target="_self" style="color: #011639">Contato</a>
    </div>
  </div>
  <p
    id="equipe"
    style="
      color: #02183b;
      font-size: 26px;
      font-weight: 700;
      margin: 2rem 0 2rem 0;
    "
  >
    Equipe Borges & Silva
  </p>
  <div class="equipeCards">
    <div class="square">
      <img class="photo" src="./assets/Leonardo.jpg" alt="" />
      <p class="names">Dr. Leonardo Borges</p>
      <p class="descricao">
        Advogado especializado em recuperação de crédito para instituições
        financeiras, com forte ênfase em negociações de acordos tanto em fases
        processuais quanto extra processuais. Sócio do Escritório Borges e Silva
        Advogados Associados, atua de maneira estratégica para maximizar a
        recuperação de ativos de maneira eficiente e ética.
      </p>
      <p class="descricao">
        Pós-Graduação em Processo Civil, Instituto Damásio de Direito
      </p>
      <p class="descricao">
        Bacharelado em Direito, Faculdade Pitágoras de Divinópolis, 2009
      </p>
    </div>
    <div class="square">
      <img class="photo" src="./assets/Grasi.jpg" alt="" />
      <p class="names">Dra. Grasielle Silva</p>
      <p class="descricao">
        Bacharela em Direito pela Pontifícia Universidade Católica de Minas
        Gerais – PUC-MINAS
      </p>
      <p class="descricao">
        Pós-Graduada em Direito Civil pela Universidade Anhanguera
      </p>
      <p class="descricao">
        Pós-Graduada em Processo Civil pelo Instituto Damásio de Direito
      </p>
      <p class="descricao">
        Pós-Graduanda em Direito Bancário e do Mercado Financeiro pela PUC Minas
        OAB/MG 138.858
      </p>
    </div>
    <div class="square">
      <img class="photo" src="./assets/Lucas Santos.jpg" alt="" />
      <p class="names">Dr. Lucas Santos</p>
      <p class="descricao">
        Advogado Pós-Graduado em direito penal e processo penal
      </p>
      <p class="descricao">
        Sócio no escritório de advocacia Borges e Silva Advocacia
      </p>
      <p class="descricao">Consultoria há 11 em Santo Antônio do Monte</p>
      <p class="descricao">
        Professor de Sociologia no Instituto Maria Angélica de Castro – IMAC,
        escola parceira Bernoulli (2015/2021)
      </p>
      <p class="descricao">
        Ex-Secretário Municipal de Desenvolvimento Econômico e Ex-Secretário
        Municipal de Administração na Prefeitura Municipal de Santo Antônio do
        Monte/MG (2017/2020)
      </p>
      <p class="descricao">
        Ex-Coordenador Administrativo da Secretaria Municipal de Desenvolvimento
        Econômico da Prefeitura de Divinópolis.
      </p>
      <p class="descricao">
        Agente de Desenvolvimento de Divinópolis, responsável pela elaboração e
        execução de diversos projetos de abertura de empresas, desburocratização
        de processos, geração de empregos, apoio ao micro e pequeno negócio e
        atração de investimentos. Especialista em registro de Marcas
      </p>
    </div>
    <div class="square">
      <img class="photo" src="./assets/Lara Costa.jpg" alt="" />
      <p class="names">Dra. Lara Costa</p>
      <p class="descricao">Advogada</p>
      <p class="descricao">
        Pós Graduada em Direito do Trabalho e Previdenciário
      </p>
      <p class="descricao">
        Assessora Jurica do Município de Santo Antônio do Monte
      </p>
      <p class="descricao">
        Procuradora Geral do Município de Santo Antonio do Monte
      </p>
    </div>
    <div class="square">
      <img class="photo" src="./assets/Gabriela.jpg" alt="" />
      <p class="names">Dra. Gabriela Santos</p>
      <p class="descricao">Bacharela em Direito pela Universidade de Itaúna</p>
      <p class="descricao">Pós-Graduada em direito empresarial</p>
      <p class="descricao">Especialista em Registro de Marcas</p>
    </div>
    <div class="square">
      <img class="photo" src="./assets/Riane.jpg" alt="" />
      <p class="names">Dra. Riane Oliveira</p>
      <p class="descricao">Advogada Pós-graduada em direito constitucional.</p>
      <p class="descricao">
        Pós graduanda em direito administrativo Área de atuação predominante em
        direito bancário.
      </p>
      <p class="descricao">
        Ex-servidora pública municipal com atuação em contratos administrativos,
        licitações e compras públicas.
      </p>
      <p class="descricao">
        Mediadora pelo Tribunal de Justiça de Minas Gerais.
      </p>
    </div>
    <div class="square">
      <img class="photo" src="./assets/Pollyana.jpg" alt="" />
      <p class="names">Dra. Pollyana Rodrigues</p>
      <p class="descricao">Advogada</p>
      <p class="descricao">Área de atuação predominante em direito bancário.</p>
      <p class="descricao">
        Estagiária por três anos no Tribunal de Justiça de Minas Gerais.
      </p>
    </div>
    <div class="square">
      <img class="photo" src="./assets/Lara.jpg" alt="" />
      <p class="names">Dra. Lara Castro</p>
      <p class="descricao">Advogada</p>
      <p class="descricao">Pós graduada em direito penal e processual penal.</p>
      <p class="descricao">
        Área de atuação predominante em direito civil e ambiental.
      </p>
      <p class="descricao">
        Ex-estagiária de pós-graduação do Tribunal de Justiça de Minas Gerais
        com atuação na assessoria em gabinete de Juiz (a).
      </p>
    </div>
  </div>
  <p
    class="mostVisao"
    style="color: #02183b; font-size: 26px; font-weight: 700"
  >
    Nossa Visão
  </p>
  <div class="visao">
    <img src="./assets/Equipe.jpg" alt="Equipe" class="equipe" />
    <div class="sobre">
      <p
        class="visaoText"
        style="color: #02183b; font-size: 26px; font-weight: 700"
      >
        Nossa Visão
      </p>
      <p>
        Em um mundo globalizado, com relações tão dinâmicas e variadas, nosso
        escritório preza pela proximidade e atendimento individualizado de suas
        demandas, preservando acima de tudo a ética, a probidade e transparência
        nestas relações. Para isso, contamos com um corpo técnico qualificado e
        pronto ao atendimento multidisciplinar e estratégico para solucionar
        suas necessidades. Além disso, o caráter consultivo presente no
        escritório, constitui verdadeiro diferencial no desenvolvimento do
        empreendimento de nossos parceiros. O escritório conta com a modalidade
        "full service", atendendo demandas de todas as áreas direito, o que
        garante que nossos clientes não saiam sem orientação.
      </p>
    </div>
  </div>
  <p
    id="atuacao"
    style="
      color: #02183b;
      font-size: 26px;
      font-weight: 700;
      margin: 2rem 0 2rem 0;
    "
  >
    Nossas áreas de trabalho
  </p>
  <div id="carouselExampleCaptions" class="carousel slide carousel-container">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="5"
        aria-label="Slide 6"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="6"
        aria-label="Slide 7"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="background-black">
          <img
            src="./assets/Banco.jpg"
            class="d-block img-carousel"
            alt="Bancário"
          />
        </div>
        <div class="carousel-caption photoDescMobile">
          <h5 style="font-weight: 900">Bancário</h5>
          <p style="font-weight: 700">
            Assessoria em negociação com instituições bancárias, redução de
            dívidas.
          </p>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-weight: 900">Bancário</h5>
          <p style="font-weight: 700">
            Assessoria em negociação com instituições bancárias, redução de
            dívidas.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="background-black">
          <img
            src="./assets/Civil.png"
            class="d-block img-carousel"
            alt="Civil"
          />
        </div>
        <div class="carousel-caption photoDescMobile">
          <h5 style="font-weight: 900">Civil</h5>
          <p style="font-weight: 700">
            Atuação consultiva e processual em demandas cíveis, com foco em
            elaboração e revisão.
          </p>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-weight: 900">Civil</h5>
          <p style="font-weight: 700">
            Atuação consultiva e processual em demandas cíveis, com foco em
            elaboração e revisão.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="background-black">
          <img
            src="./assets/Empresa.jpg"
            class="d-block img-carousel"
            alt="Empresa"
          />
        </div>
        <div class="carousel-caption photoDescMobile">
          <h5 style="font-weight: 900">Empresarial</h5>
          <p style="font-weight: 700">
            Realização de consultoria empresarial, planejamento societário e
            sucessório.
          </p>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-weight: 900">Empresarial</h5>
          <p style="font-weight: 700">
            Realização de consultoria empresarial, planejamento societário e
            sucessório.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="background-black">
          <img
            src="./assets/Imobiliario.jpg"
            class="d-block img-carousel"
            alt="Imobiliario"
          />
        </div>
        <div class="carousel-caption photoDescMobile">
          <h5 style="font-weight: 900">Imobiliário</h5>
          <p style="font-weight: 700">
            Proposições de ações possessórias, reivindicatórias, cobranças,
            despejos.
          </p>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-weight: 900">Imobiliário</h5>
          <p style="font-weight: 700">
            Proposições de ações possessórias, reivindicatórias, cobranças,
            despejos.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="background-black">
          <img
            src="./assets/Previdenciario.jpg"
            class="d-block img-carousel"
            alt="Previdenciario"
          />
        </div>
        <div class="carousel-caption photoDescMobile">
          <h5 style="font-weight: 900">Previdenciário</h5>
          <p style="font-weight: 700">
            Atuação consultiva, elaboração de planejamento previdenciário,
            cálculos e revisão.
          </p>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-weight: 900">Previdenciário</h5>
          <p style="font-weight: 700">
            Atuação consultiva, elaboração de planejamento previdenciário,
            cálculos e revisão.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="background-black">
          <img
            src="./assets/Trabalhista.jpg"
            class="d-block img-carousel"
            alt="Lara"
          />
        </div>
        <div class="carousel-caption photoDescMobile">
          <h5 style="font-weight: 900">Trabalhista</h5>
          <p style="font-weight: 700">
            Defesa em ações trabalhistas, compliance, adequação da empresa.
          </p>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-weight: 900">Trabalhista</h5>
          <p style="font-weight: 700">
            Defesa em ações trabalhistas, compliance, adequação da empresa.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="background-black">
          <img
            src="./assets/Tributario.jpeg"
            class="d-block img-carousel"
            alt="Lara"
          />
        </div>
        <div class="carousel-caption photoDescMobile">
          <h5 style="font-weight: 900">Tributário</h5>
          <p style="font-weight: 700">
            Assessoria tributária voltada para Pessoas Jurídicas, com realização
            de planejamento.
          </p>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-weight: 900">Tributário</h5>
          <p style="font-weight: 700">
            Assessoria tributária voltada para Pessoas Jurídicas, com realização
            de planejamento.
          </p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <p
    id="contato"
    style="
      color: #02183b;
      font-size: 26px;
      font-weight: 700;
      margin: 2rem 0 2rem 0;
    "
  >
    Contato
  </p>
  <div class="location">
    <div class="infos">
      <div class="info">
        <mat-icon style="color: #c6a762">phone_iphone</mat-icon>
        <p>(37) 3281-2903</p>
      </div>
      <div class="info">
        <mat-icon style="color: #c6a762">email</mat-icon>
        <p>emailborgesesilva.com.br</p>
      </div>
      <div class="info">
        <mat-icon style="color: #c6a762">map</mat-icon>
        <p>
          R. José Lucas Evangelista, 33 - Sao Lucas, Santo Antônio do Monte -
          MG, 35560-000
        </p>
      </div>
    </div>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d722.2816825075698!2d-45.28769118785833!3d-20.09096334145836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b4a15bd0538f21%3A0x407526a65c97acdc!2sBorges%20e%20Silva%20-%20Advogados%20%26%20Associados!5e0!3m2!1spt-BR!2sbr!4v1717176670263!5m2!1spt-BR!2sbr"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
  <div class="footer">
    <img src="./assets/LogoBranca.png" alt="logo" />
    <div>
      <p>Borges & Silva ©2024</p>
      <p>Todos os direitos reservados</p>
    </div>
  </div>
</main>
